PORT=5050
MONGODB_URI=mongodb+srv://jaDUMMY73:jaDUMMY73@rDUMMYa-cluster.lDUMMYw.mongodb.net/?appName=roDUMMYYter
CORS_ORIGIN=http://localhost:5173

NODE_ENV=development
JWT_SECRET=0bd8bf735DUMMY512508e89ca4cc1dbae2a07afDUMMY8e1fcb6ab73f34bde2c48DUMMY87df2c478e04DUMMYb0bbf1e7e8f4be759
